*{
    margin: 0px auto;
    padding: 0px;
}
.wrapper{
    height:1100px ;
    width:  80% ;
    background-image: url("background.jpg") ;

}
.top-menu{
    margin-top: 15px;
    margin-left: 15px;
    height: auto;
    width: 80% ;
    float: left;
   
    margin-bottom: 20px;
}
.menu{
    height: 80%;
    width: 100%;
   
    float: left;
}
.menu-left{
    height: 100%;
    width: 15% ;
   
    float: left;
}
.menu-right{
    height: 100%;
    width: 85% ;
    
    float: right;
}
.heading{
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
    height: 7%;
    padding-left: 70px;
    width: 78% ;
    font-size: 50px;
    background-color: #009a00;
    float: left;
    letter-spacing: 15px;
}
.hinh{
    margin-top: 10px;
    margin-right: 15px;
    height: auto;
    width: 20% ;
    background-color: #cc911c;
    float: right;
}
.headingnho{
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    height: 3%;
    width: 36% ;
    background-color: #009a00;
    float: left;
}
.link{
    margin-top: 5%;
    height: 20% ;
    width: 80%;
    background-color: white;
    border-style: groove  ;
    border-width: 5px;
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 5%;
}
.doan{
    padding-top: 15px;
    width: 72%;
    font-size: 20px;
    float: left;
    padding-left: 50px;
}
.doan1{
    padding-top: 15px;
    width: 90%;
    font-size: 20px;
    float: left;
    padding-left: 50px;
}
.ul{
    width: 90%;
    height: 30%;
    background-color: aliceblue;
    float: left;
    
}
.headingtrong{
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    height: 3%;
    width: 36% ;
    float: right;
}
.noidung{
   
}