*{
    margin: 0px auto;
    padding: 0px;
}
.wrapper{
    height:900px ;
    width:  100% ;
    background-color: white;

}
.top-menu{
    height: 10%;
    width: 100% ;
    float: left;
    background-color: aqua;
}
.menu{
    height: 80%;
    width: 100%;
    float: left;
    background-color: rgb(197, 91, 91);
}
.menu-left{
    height: 100%;
    width: 20% ;
    float: left;
    background-image: url("back.jpg");
}
.menu-right{
    height: 100%;
    width: 80% ;
    background-color: aquamarine;
    float: right;
}
.ghi{
    padding-left: 10px ;
}